<!-- <h2 style="align-items: center">
  Welcome to your Profile {{email}}
</h2>
<div>
  <h3>Click Here to add your Theatre</h3>
  <button class="btn btn-primary" (click)="addTheatre()"> Add Theatre</button>
</div>
<div>
  <h3>Click here to add Screening Details to your Theatre</h3>
  <button class="btn btn-primary" (click)="addMovie()"> Add Movie</button>
</div> -->


<!-- <div class="bg">
  <img src="../../assets/images/coroselMovieProfile.jpg" alt="pic" width="100%" height="100%">
  <button class="btn" (click)="addTheatre()"> Add Theatre</button>
  <button class="btn class2" (click)="addMovie()"> Add Movie</button>
  
</div> -->
<!-- <section>
  <div class="row">
  <div class="col-sm-6">
      <h1>Your Profile</h1>
  </div>
  <div class="col-sm-6">
      <button class="btn" (click)="addTheatre()"> Add Theatre</button>
  </div>
  </div>
</section>
<div class="back-im">
  <div class="bg">
   <!-- <img src="../../assets/images/coroselMovieProfile.jpg" alt="pic" width="100%" height="100%"> -->
  
   <!-- <button class="btn class2" (click)="addMovie()"> Add Movie</button>
  
  </div>
  </div>  -->

  <section>
      <div class="row">
      <div class="col1" id="profile">
          <h1>Your Profile</h1>
      </div>
      <div class="col2" id="add">
   
          <button class="btn1"  (click)="addTheatre()">Add Theatre</button>
   
      </div>
      </div>
     </section>
     <div class="back-im">
      <div class="bg">
       <!-- <img src="../../assets/images/coroselMovieProfile.jpg" alt="pic" width="100%" height="100%"> -->
   
       <button class="btn class2" (click)="addMovie()"> Add Movie</button>
   
      </div>
      </div>
   
   
   
   
   
   
   
   
   <!-- <div class="back-im">
    <div class="bg">
     // <img src="../../assets/images/coroselMovieProfile.jpg" alt="pic" width="100%" height="100%">
     <button class="btn" (click)="addTheatre()"> Add Theatre</button>
     <button class="btn class2" (click)="addMovie()"> Add Movie</button>
   
    </div>
    </div> -->


