<!-- Footer -->
 <footer class="page-footer font-small elegant-color pt-4"> 
    <!-- <footer class="page-footer font-small pt-4"> -->
  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto">

        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Site Content</h5>
        <p>Online Movie Ticket Bookings | Online Movie Ticket Bookings | Online Movie Ticket Bookings</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Videos</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">My Videos</a>
          </li>
          <li>
            <a href="#!">Western</a>
          </li>
          <li>
            <a href="#!">Classic</a>
          </li>
          <li>
            <a href="#!">Subscribe</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Exclusives</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Gift Cards</a>
          </li>
          <li>
            <a href="#!">ReferMyFriend</a>
          </li>
          <li>
            <a href="#!">My Coupons</a>
          </li>
          <li>
            <a href="#!">Vouchers</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Help</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">FAQ's</a>
          </li>
          <li>
            <a href="#!">Terms and Conditions</a>
          </li>
          <li>
            <a href="#!">Privacy policy</a>
          </li>
          <li>
            <a href="#!">Contact us</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->
  <hr>
  <!-- Call to action -->
  <ul class="list-unstyled list-inline text-center">
    <li class="list-inline-item">
      <h5 class="mb-1"><a href="#!" routerLink="/login-partner">Partner Login Here</a></h5>
    </li>
  </ul>
  <!-- Call to action -->
  <hr>
  <!-- Social buttons -->
  <ul class="list-unstyled list-inline text-center">
    <li class="list-inline-item">
      <a class="btn-floating btn-fb mx-1">
        <i class="fa fa-facebook"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-tw mx-1">
        <i class="fa fa-twitter"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-gplus mx-1">
        <i class="fa fa-google-plus"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-li mx-1">
        <i class="fa fa-linkedin"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-dribbble mx-1">
        <i class="fa fa-dribbble"> </i>
      </a>
    </li>
  </ul>
  <!-- Social buttons -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://Juggler.com/"> Juggler.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->