
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="card mt-5 mb-5">
        <div class="card-header">
          <h5 class="subHeading"> {{movieObject.name}}</h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-5">
              <img src={{movieObject.moviePoster}} class="img-fluid" height="400%" width="200%">
            </div>
            <div class="col-sm-7">
              <ul class="list-group">
                <li class="list-group-item">
                  <strong>Summary: </strong> {{movieObject.synopsis}}
                </li>
                <li class="list-group-item">
                  <strong>Language: </strong> {{movieObject.language}}
                </li>
                <li class="list-group-item">
                  <strong>Genre: </strong>
                  {{movieObject.movieGenres}}
                </li>
                <li class="list-group-item">
                  <strong>Director: </strong>
                  {{movieObject.director}}
                </li>
                <li class="list-group-item">
                  <strong>Crew: </strong>
                  {{movieObject.hero}},{{movieObject.heroine}}
                </li>
                <li class="list-group-item">
                  <strong>Release Date: </strong>
                  {{movieObject.movieReleasedate}}
                </li>
               
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>