
.example-full-width {
  width: 55%;
   padding-right: 14%;
   padding-left: 5%;
  display:grid;
  
}

.example-half-width {
  width: 55%;
   padding-right: 14%;
   padding-left: 5%;
  display:grid;
  
}
 .bt{
   margin-left: 2%;
color:white;
width:3%;
background-color: #525F7F;
 }


.next button {
  margin-left: 30%;
}
.next button b{
  margin-left: -2%;
}

.mt-btn {
  margin-top: -7%;
    padding-left:-2%;
  }
  
  .mt-btn button {
    margin:8%;
    padding-left: -2%;
   
  }
  .mat-raised-button {
    min-width: 2%;
  }
  .forms {
    
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;
  }

.headings{
  font-family: 'Padauk', sans-serif;
padding-top: 1%;
}
.seats {
  padding-left: 2%;
  

}

.seatType {
 padding-left: 5%;
 padding-top: 2%;
 //margin:-2%;
 
}
.button-color1 {
  padding-left: 8%;
}
.button-color1 button{
  margin:2%;
  margin-bottom: 4%;
}
#add {
  margin-left: 27%;
}