card-title {
  //padding-left: 32%;
  color:#D9491D;
 
 }
 .card-text {
  padding-left: 28%;
 }
 .card {
    font-size: 1em;
    overflow: hidden;
    padding-top: 2%;
    border: none;
    border-radius: .28571429rem;
    //box-shadow: 5px 5px 5px 5px rgb(211, 150, 150)  0 0 0 1px rgb(211, 150, 150);
    box-shadow:0 15px 30px#3D3D3B;
    z-index: -1;
    margin-top:5%;
    margin-bottom: 5%;
 }
 
 .direction {
  display: inline-flex;
  padding-bottom: 2%;
  border-bottom: 1px dashed grey;
 }
 .direction p {
  margin-left: 10%;
 }
 
 .ticketdetails p {
  padding-top: 6%;
  padding-left: 6%;
  padding-bottom: 0%;
 
 }
 
 #DownAppearance {
 
  margin-top: 0px;
  padding-top: 0px;
  padding-left: 4%;
 }
 
 .SetAligned p{
 display: inline-flex;
 }
 #dir{
    padding-left: 23%;
 }
 .shift{
    padding-left: 30%;
 }
 container col-sm-6{
    box-shadow:3px 3px 3px grey ;
 }