<!-- <div class="d-flex justify-content-center align-items-center"> -->
<div class="container-12">
    <div class="row">
        <div class="col-sm-3">
            <a type="button" outline="true" (click)="searchMovies(city[0])">
                <img class="picture" src="https://www.kobster.com/static/img/city/bengaluru.png" />
            </a>
        </div>
        <div class="col-sm-3">
        <a type="button" outline="true" (click)="searchMovies(city[1])">
            <img class="picture" src="https://www.kobster.com/static/img/city/hyderabad.png" />
        </a>
        </div>
        <div class="col-sm-3">
        <a type="button" outline="true" (click)="searchMovies(city[2])">
            <img class="picture" src="https://www.kobster.com/static/img/city/mumbai.png" />
        </a>
        </div>
        <div class="col-sm-3">
        <a type="button" outline="true" (click)="searchMovies(city[3])">
            <img class="picture" src="https://www.kobster.com/static/img/city/chennai.png" />
        </a>
        </div>
    </div>
</div>