// .input{
    //     font-size: 15px;
    //    border: 2px solid blue;
    //   margin-left: 750px;
    //     width: 30%;
    //     height: 37px;
    //     float:left;
    //  }
    .container{
       margin:5%
     }
    // .btn-block{
    //   color: white;
    //   background-color:blue;
    //   float:left;
    //     width:100px;
    // }
    // .input:focus {
    //   color:black;
    
    // }
    // .btn-block:hover{
    //   border: 0;
    //   box-shadow: none;
    //   border-left: solid 2px #ccc;
    // }
    
    .card-header {
      text-transform: capitalize;
      text-align: center;
    }
    .cityresult{
    
      margin-top: 20px;
    }
    // .card{
    //   margin-right: 4%
    // }
    .searchbar{
      margin-top: 10px;
    }
    
    
    h5{
      text-transform: capitalize;
    }
    .img{
      height:90%;
    }
    .body{
      height:10%;
      padding-top: 2%
    }
    .body p{
      text-align: center
    }