.card {
    color:#2E4A62;
   // background-color: #F3D6E4;
    background-color:  #F0EDE5;
    padding-top: 5px;
    margin-bottom: 3%;
 
 }
 .title {
 
    color:#944743;
 }
 .container h5 {
     padding-left:30%;
 
    display:flex;
    position: relative;
    font-family: sans-serif;
   overflow: hidden;
 
 }
 
 
 // .container{
 //     -moz-box-shadow:    3px 3px 5px 6px #ccc;
 //     -webkit-box-shadow: 3px 3px 5px 6px #ccc;
 //     box-shadow:         3px 3px 5px 6px #ccc;
 // }
 button {
    float:right;
 }
 
 .bt{
    margin-right: 3%;
 
 }
 .bt button{
    margin-bottom: 2%;
    margin-top: -3%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #555;
    padding-left: 2.5%;
    padding-right: 2.5%;
    border-radius:5px;
    border:none;
    cursor: pointer;
    display: grid;
 
 }
 
 .bt a{
    color:white;
 
 
 }
 .unit{
    min-height: 500px;
    overflow: hidden;
    width:100%;
    height:auto;
    display:grid;
    background-image: url("https://images.unsplash.com/photo-1513151233558-d860c5398176?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6b2b3eeca79a80926667ec71b01eac12&auto=format&fit=crop&w=500&q=60");
   background-repeat: no-repeat;
    background-size: 100% 100%;
 
 }
 
 .headings{
    font-family: 'Padauk', sans-serif;
  padding-top: 1%;
  padding-left: 2%;
  color:#D2691E;
  }