<div class="registration">
    <div style="text-align: center">
      <h3 class="headings">
        Event Registration!!
      </h3>
    </div>
  <div class="forms">
<mat-horizontal-stepper class="container my-3" [linear]="isLinear" #stepper>
  <mat-step [stepControl]="rsvpForm1">
    <form [formGroup]="rsvpForm1">
 <ng-template matStepLabel></ng-template>

      <mat-form-field class="example-full-width">

        <mat-label>Event Host:</mat-label>

        <input matInput placeholder="Enter Event Hoster" formControlName="creatorName" type="text" required>

        <mat-error>This field is required</mat-error>

      </mat-form-field>

      <mat-form-field class="example-full-width">

        <mat-label>Event Name:</mat-label>

        <input matInput placeholder="Enter Event Name" formControlName="eventName" type="text" required>

        <mat-error>This field is required</mat-error>

      </mat-form-field>

      <mat-form-field class="example-full-width">

        <mat-label>Event Type:</mat-label>

        <input matInput placeholder="Enter Event Type" formControlName="eventType" type="text" required>

        <mat-error>Required/Invalid Input</mat-error>

      </mat-form-field>
      <mat-form-field class="example-full-width">

          <mat-label>Event Description:</mat-label>
  
          <textarea matInput placeholder="Enter Event Description" formControlName="Description" type="text" required></textarea>
  
          <mat-error>Required/Invalid Input</mat-error>
  
        </mat-form-field>
        <div class="next-btn">

            <button  mat-raised-button color="primary" matStepperNext><b>Next</b></button>
    
          </div>
    
        </form>
    
      </mat-step>

  <mat-step [stepControl]="rsvpForm2">

    <form [formGroup]="rsvpForm2">

      <mat-form-field class="example-full-width">

        <mat-label>Event Date:</mat-label>

        <input matInput [matDatepicker]="picker" placeholder="EventDate" formControlName="eventDate" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error>Required/Invalid Input</mat-error>

      </mat-form-field>

      <mat-form-field class="example-full-width">

        <mat-label> Event Time: </mat-label>

        <input matInput placeholder="Ex: hh:mm AM/PM" formControlName="eventTime" type="text" required>

        <mat-error>Required/Invalid Input</mat-error>

      </mat-form-field>

      <mat-form-field class="example-full-width">

        <mat-label>Number of Days: </mat-label>

        <input matInput placeholder="Enter no. of days event will happen" formControlName="eventDays" type="number" required>

        <mat-error>Required/Invalid Input</mat-error>

      </mat-form-field>

      <mat-form-field class="example-full-width">

        <mat-label>Event Duration</mat-label>

        <input matInput placeholder="Ex: hh:mm" formControlName="eventDuration" type="text" required>

        <mat-error>Required/Invalid Input</mat-error>

      </mat-form-field>
      <mat-form-field class="example-full-width">

          <mat-label>Event Guests:</mat-label>
  
          <input matInput placeholder="Enter Guests of an Event" formControlName="eventGuest" type="text" required>
  
          <mat-error>Required/Invalid Input</mat-error>
  
        </mat-form-field>
        <div class="option">

            <button  mat-raised-button color="primary" matStepperPrevious><b>Back</b></button>
    
            <button  mat-raised-button color="primary" matStepperNext><b>Next</b></button>
    
          </div>
    
        </form>
    
      </mat-step>
 
<div class="for3-event">
  <mat-step [stepControl]="rsvpForm3">

    <form [formGroup]="rsvpForm3">

        <mat-form-field class="example-full-width">

            <mat-label>Event Address:</mat-label>
    
            <textarea matInput placeholder="Enter Complete Address of an Event" formControlName="eventLocation" type="text" required></textarea>
    
            <mat-error>Required/Invalid Input</mat-error>
    
          </mat-form-field>
          

      <!-- <mat-form-field class="example-full-width">

        <mat-label> Hoster Email:</mat-label>

        <input matInput placeholder="Enter mailId" formControlName="emailId" type="email" required>

        <mat-error>Required/Invalid Input</mat-error>

      </mat-form-field> -->

      <mat-form-field class="example-full-width">

          <mat-label>Host Contact Number:</mat-label>
  
          <input matInput placeholder="Phone number" formControlName="phoneNo" type="number" required>
  
          <mat-error>Required/Invalid Input</mat-error>
  
        </mat-form-field>

      <mat-form-field class="example-full-width">

        <mat-label>Invitees:</mat-label>

        <input matInput placeholder="Enter Email of an Invitees" formControlName="invitiesMail" type="email" required>

        <mat-error>Required/Invalid Input</mat-error>

      </mat-form-field>
      <div class="form3-btn">

        <button  mat-raised-button color="primary" matStepperPrevious><b>Back</b></button>

        <button  mat-raised-button color="primary"(click)="stepper.reset()"><b>Reset</b></button>
        <button  mat-raised-button color="primary" id="add" (click)="saveEvent()"><b>Save</b></button>
      </div>

    </form>

  </mat-step>
  </div>

</mat-horizontal-stepper>
</div>

</div>
