.example-full-width {
  
  padding-right: 14%;
  padding-left: 4%;
   width:55%;
display: grid;
        }
 .mat-raised-button {
  min-width: 2%;
  }
  .forms {      
-moz-box-shadow:    3px 3px 5px 6px #ccc;
 -webkit-box-shadow: 3px 3px 5px 6px #ccc;
 box-shadow:         3px 3px 5px 6px #ccc;
}
.headings{
  font-family: 'Padauk', sans-serif;
padding-top: 1%;
}

.next-btn button {
    margin-left: 30%;
  }
  .next-btn button b{
    margin-left: -2%;
  }
.option {
    margin-top: -7%;
      padding-left:-7%;
    }
    
.option button {
      margin:8%;
      padding-left: -2%;
     
    }
.form3-btn{
        padding-left: 3%;
      }

.form3-btn button{
        margin:1%;
        margin-bottom: 4%;
 }
 #add {
        margin-left: 13%;
      }
