// .flex-container {
//   display: flex;
//   flex-direction: row;
//   box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
//   padding: 0px 0px;
// }



.container {
  margin-top: 40px;
  border-block-end-color: black;
  margin-bottom:40px; 
  
}
.listOfItem {
  padding: 10px 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.showTime {
  display: inline;
  margin-left: 10px;
  padding-left: 30px;
  padding-bottom: 10px;
}
.showTime:hover {
  color: green;
}
.hoverWrapper:hover #hoverShow1 {
  display: block;
  text-transform: capitalize;
  position: relative;
}
.hoverWrapper #hoverShow1 {
  display: none;
}

.DisplayBorder {
  border-radius: 2px;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 1px;
  padding-bottom: 1px;
  margin: 2px 2px;
  background-color: blanchedalmond;
}
.CamelCase {
  text-transform: capitalize;
}
a.CamelCase {
  display: inline-block;
  width: 100px;
}
#display {
  display: inline-flex;
}
// #spacing {
//   margin-left: 15px;
// }
.card{
  margin-top: 20px;
  padding-top: 20px;
  margin-bottom: 20px;
  align-items: center;
}
.headings{
  font-family: 'Padauk', sans-serif;
}